gradio==4.19.2
transformers==4.38.1
diffusers==0.26.3
selenium==4.18.1
beautifulsoup4==4.12.3
moviepy==1.0.3
pillow==10.2.0
langchain==0.1.9
torch==2.2.1
webdriver-manager==4.0.1
ffmpeg-python==0.2.0
huggingface_hub==0.20.3